body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  opacity:1;
}


.background{
  background-color: rgb(99, 98, 98);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.redd.it/zl50h517tqj71.png);
  background-blend-mode: soft-light;
}

#title{
  color:white;
  position: absolute;
  top:20vh;
  left:35vw;
  width: 30vw;

  align-items: center;
  text-align: center;

  background-color: rgba(43, 43, 43,0.9);
  padding: 10px;
  border: 3px solid rgb(99, 98, 98);
  border-radius: 7px;
}

.homePage {
  position: fixed;
  left: 40vw;
  background-color: rgb(43, 43, 43);
  padding: 10px;
  border: 3px solid rgb(99, 98, 98);
  border-radius: 7px;
  width: 20vw;}
  
#get-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: x-large;
  border: solid 2px rgb(99, 98, 98);
  border-radius: 4px;
  padding:2px;
  margin-top: 5px;
  color:white;
}

#my-select{
  display: flex;
  font-size: large;
  margin: auto;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;}

#gameImg{
  position:absolute;
  width: 40vw;
  height:40vh;
  object-fit: cover;
  border-radius: 10px;
  border: solid 3px rgb(43, 43, 43);
  top:5vh;
}
  
#gameContainer{
  position: absolute;
  top: 45vh;
  width: 40vw;
  height: 40vh;
  background-color: rgb(43, 43, 43);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid rgb(43, 43, 43);

  color: white;
  overflow: scroll;}

#side-bar {
  position: absolute;
  left: 5vw;
  top:30vh;
  height:40vh;
  width: 20vw;
  background-color: rgba(43,43,43,0.8);
  color :white;
  border-radius: 7px;
  border: 3px solid rgb(99, 98, 98);
}

#refresh{
  position: fixed;
  width: 20vw;
  top: 32vh;
  left: 5vw;
  font-weight: bold;
  font-size: large;
}

#refresh-icon {
  position: fixed;
  width: 6vw;
  left:12vw;
  top:36vh;
  transition-duration: 1s; /*vitesse de rotation*/
  transition-property: transform;
}

#refresh-icon:hover{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

#home {
  position: fixed;
  width: 20vw;
  top: 52vh;
  left: 5vw;
  font-weight: bold;
  font-size: large;
}


#home-icon {
  position: fixed;
  width: 6vw;
  left:12vw;
  top: 56vh;
}

#home-icon:hover {
  transform: scale(1.2);
}


#stores {
  /* top: 45%;
  left: 75%; */

  font-weight: bold;
  font-size: large;
  height:25vh;
  width: 25vw;

  position: fixed;
  top: 45vh;
  left: 72vw;

  background-color: rgba(43,43,43,0.8);
  color :white;
  border-radius: 7px;
  border: 3px solid rgb(99, 98, 98);
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.stores-icon {
  position: absolute;
  left: 73%;
  top: 52%;
  gap: 10px;
  align-items: center;
}

.stores-icon button {
  opacity:0.8;
}
.stores-icon button:hover{
  opacity: 1;
}

.stores-icon img {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 30px;
}

/* #stores-container {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

span {
  color:white;
  font-weight: bold;
}


#main-score {
  position: fixed;
  top: 0%;
  left: 80%;
}

#scores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 70%;
  margin-top: -27%;
}

.score-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin: 20px;
}

.low {
  background-color: red;
}

.medium {
  background-color: orange;
}

.high {
  background-color: green;
}

.n-a {
  background-color: gray;
}

.link-back {
  background-color: rgb(214, 210, 210);
  padding:3px;
  color:black;
  border-radius: 2px;
  font-weight: bold;
}
