body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100vh;
  opacity:1;
}

.homePage {
  position: fixed;
  left: 43%;
}
  
.background{
  background-color: rgb(99, 98, 98);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://i.redd.it/zl50h517tqj71.png);
  background-blend-mode: soft-light;
}

#getBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;}

#genreSelec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;}

#gameContainer{
  position: absolute;
  width: 40vw;
  height: 80vh;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  border: solid rgb(43, 43, 43);

  color: white;
  overflow: scroll;}

#gameImg{
  width: 100%;
  height:50%;
  object-fit: cover;
  border-radius: 10px;
  border-bottom: solid 3px rgb(43, 43, 43);}

#refresh{
  display: flex;
  background-color: aliceblue;
  width: 20vw;
  align-items:  center;
  justify-content:center;
}  

#refreshBtn{
  padding:7px;

}

#home {
  position: fixed;
  background-color: aliceblue;
  width: 20vw;
  top: 55%;
  left: 6%;
  font-weight: bold;
  height: 30px;
}

#home-icon {
  position: fixed;
  top: 60%;
  left: 12%;
  width: 150px;
  height: 150px;
}

#refresh {
  position: fixed;
  background-color: aliceblue;
  width: 20vw;
  top: 30%;
  left: 6%;
  font-weight: bold;
  height: 30px;
}

#refresh-icon {
  position: fixed;
  height: 150px;
  width: 150px;
  left: 12%;
  top: 35%;
}

#stores {
  font-weight: bold;
  background-color: aliceblue;
  position: fixed;
  top: 45%;
  left: 75%;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.stores-icon {
  position: absolute;
  left: 73%;
  top: 52%;
  gap: 10px;
  align-items: center;
}

.stores-icon img {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 30px;
}

#stores-container {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: flex-start;
}

span {
  background-color: aliceblue;
  font-weight: bold;
}

#button-refresh {
  background-color: aliceblue;
}

#get-game {
  background-color: aliceblue;
}

#main-score {
  position: fixed;
  top: 0%;
  left: 80%;
}

#scores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 70%;
  margin-top: -27%;
}

.score-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin: 20px;
}

.low {
  background-color: red;
}

.medium {
  background-color: orange;
}

.high {
  background-color: green;
}

.n-a {
  background-color: gray;
}

.link-back {
  background-color: aliceblue;
  font-weight: bold;
}
